
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="referrer" content="origin-when-cross-origin" />
    
    
    
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>TheHypocrite - 博客园</title>
    <link rel="icon" id="favicon" href="https://assets.cnblogs.com/favicon_v3_2.ico" type="image/x-icon" />
    <link rel="canonical" href="https://www.cnblogs.com/TheHypocrite" />
    
    <link rel="stylesheet" href="/css/blog-common.min.css?v=SUnblqYfBvYgLn_f_dTFdkvSpyP-VKRvP5KqiHinuMs" />
    

    
        
    <link type="text/css" rel="stylesheet" href="https://www.cnblogs.com/TheHypocrite/custom.css?v=W2TsrLPGsr7yyhxW&#x2B;bP9RAJuSKg=" />
    
    <link id="mobile-style" media="only screen and (max-width: 767px)" type="text/css" rel="stylesheet" href="/skins/SimpleMemory/bundle-simplememory-mobile-pure.min.css?v=NjJnIg2ndXmoshSBcUyxF6kOyJTJ44pIM16pEa8vFeU" />
    
    <link type="application/rss+xml" rel="alternate" href="https://www.cnblogs.com/TheHypocrite/rss" />
    <link type="application/rsd+xml" rel="EditURI" href="https://www.cnblogs.com/TheHypocrite/rsd.xml" />
    <link type="application/wlwmanifest+xml" rel="wlwmanifest" href="https://www.cnblogs.com/TheHypocrite/wlwmanifest.xml" />
    

    <script>
        var currentBlogId = 801535;
        var currentBlogApp = 'TheHypocrite';
        var isLogined = false;
        var isBlogOwner = false;
        var skinName = 'SimpleMemory';
        var visitorUserId = '';
        var hasCustomScript = true;
        window.cb_enable_mathjax = true;
        window.mathEngine = 2;
        window.codeHighlightEngine = 1;
        window.enableCodeLineNumber = false;
        window.codeHighlightTheme = 'cnblogs';
        window.darkModeCodeHighlightTheme = 'vs2015';
        window.isDarkCodeHighlightTheme = false;
        window.isDarkModeCodeHighlightThemeDark = true;
        window.isDisableCodeHighlighter = false;
        window.enableCodeThemeTypeFollowSystem = false;
        window.enableMacStyleCodeBlock = false;
    </script>
    <script src="https://assets.cnblogs.com/scripts/jquery-3.3.1.min.js"></script>
    <script src="https://cdn-www.cnblogs.com/js/blog-common.min.js?v=3WwZ2zjjkI99aiT00Xgk0oFC_NfMug9mYATt0vFWFWE"></script>
        <script>updateCustomBlogReferrer();</script>
    
</head>
<body class="skin-simplememory no-navbar">
    <a name="top"></a>
    <div id="top_nav" class="navbar forpc navbar-custom">
        <nav id="nav_main" class="navbar-main">
            <ul id="nav_left" class="navbar-list navbar-left">
                <li class="navbar-branding">                    
                    <a href="https://www.cnblogs.com/" title="开发者的网上家园" role="banner">
                        <img src="//assets.cnblogs.com/logo.svg" alt="博客园logo" />
                    </a>
                </li>
                    <li><a href="https://cnblogs.vip/">会员</a></li>
                    <li><a href="https://cnblogs.vip/store">商店</a></li>
                        <li><a href="https://www.cnblogs.com/cmt/p/18500368">众包</a></li>
                <li>
                    <a href="https://news.cnblogs.com/" onclick="countClicks('nav', 'skin-navbar-news')">新闻</a>
                </li>
                <li>
                    <a href="https://q.cnblogs.com/" onclick="countClicks('nav', 'skin-navbar-q')">博问</a>
                </li>
                <li>
                    <a href="https://ing.cnblogs.com/" onclick="countClicks('nav', 'skin-navbar-ing')">闪存</a>
                </li>
                <li><a href="https://www.cnblogs.com/cmt/p/18341478">赞助商</a></li>
                <li><a href="https://chat2db-ai.com/" target="_blank" onclick="countClicks('nav', 'skin-navbar-chat2db')">Chat2DB</a></li>
            </ul>
            <ul id="nav_right" class="navbar-list navbar-right">
                <li>
                    <form id="zzk_search" class="navbar-search dropdown" action="https://zzk.cnblogs.com/s" method="get" role="search">
                        <input name="w" id="zzk_search_input" placeholder="代码改变世界" type="search" tabindex="3" autocomplete="off" />
                        <button id="zzk_search_button" onclick="window.navbarSearchManager.triggerActiveOption()">
                            <img id="search_icon" class="focus-hidden" src="//assets.cnblogs.com/icons/search.svg" alt="搜索" />
                            <img class="hidden focus-visible" src="//assets.cnblogs.com/icons/enter.svg" alt="搜索" />
                        </button>
                        <ul id="navbar_search_options" class="dropdown-menu quick-search-menu">
                            <li tabindex="0" class="active" onclick="zzkSearch(event, document.getElementById('zzk_search_input').value)">
                                <div class="keyword-wrapper">
                                    <img src="//assets.cnblogs.com/icons/search.svg" alt="搜索" />
                                    <div class="keyword"></div>
                                </div>
                                <span class="search-area">所有博客</span>
                            </li>
                                    <li tabindex="1" onclick="zzkBlogSearch(event, 'TheHypocrite', document.getElementById('zzk_search_input').value)">
                                        <div class="keyword-wrapper">
                                            <img src="//assets.cnblogs.com/icons/search.svg" alt="搜索" />
                                            <div class="keyword"></div>
                                        </div>
                                        <span class="search-area">当前博客</span>
                                    </li>
                        </ul>
                    </form>
                </li>
                <li id="navbar_login_status" class="navbar-list">
                    <a class="navbar-user-info navbar-blog" href="https://i.cnblogs.com/EditPosts.aspx?opt=1" alt="写随笔" title="写随笔">
                        <img id="new_post_icon" class="navbar-icon" src="//assets.cnblogs.com/icons/newpost.svg" alt="写随笔" />
                    </a>
                    <a id="navblog-myblog-icon" class="navbar-user-info navbar-blog" href="https://passport.cnblogs.com/GetBlogApplyStatus.aspx" alt="我的博客" title="我的博客">
                        <img id="myblog_icon" class="navbar-icon" src="//assets.cnblogs.com/icons/myblog.svg" alt="我的博客" />
                    </a>
                    <a class="navbar-user-info navbar-message navbar-icon-wrapper" href="https://msg.cnblogs.com/" alt="短消息" title="短消息">
                        <img id="msg_icon" class="navbar-icon" src="//assets.cnblogs.com/icons/message.svg" alt="短消息" />
                        <span id="msg_count" style="display: none"></span>
                    </a>
                    <a id="navbar_lite_mode_indicator" data-current-page="blog" style="display: none" href="javascript:void(0)" alt="简洁模式" title="简洁模式启用，您在访问他人博客时会使用简洁款皮肤展示">
                        <img class="navbar-icon" src="//assets.cnblogs.com/icons/lite-mode-on.svg" alt="简洁模式" />
                    </a>
                    <div id="user_info" class="navbar-user-info dropdown">
                        <a class="dropdown-button" href="https://home.cnblogs.com/">
                            <img id="user_icon" class="navbar-avatar" src="//assets.cnblogs.com/icons/avatar-default.svg" alt="用户头像" />
                        </a>
                        <div class="dropdown-menu">
                            <a id="navblog-myblog-text" href="https://passport.cnblogs.com/GetBlogApplyStatus.aspx">我的博客</a>
                            <a href="https://home.cnblogs.com/">我的园子</a>
                            <a href="https://account.cnblogs.com/settings/account">账号设置</a>
                            <a href="https://vip.cnblogs.com/my">会员中心</a>
                            <a href="javascript:void(0)" id="navbar_lite_mode_toggle" title="简洁模式会使用简洁款皮肤显示所有博客">
    简洁模式 <span id="navbar_lite_mode_spinner" class="hide">...</span>
</a>

                            <a href="javascript:void(0)" onclick="account.logout();">退出登录</a>
                        </div>
                    </div>
                    <a class="navbar-anonymous" href="https://account.cnblogs.com/signup">注册</a>
                    <a class="navbar-anonymous" href="javascript:void(0);" onclick="account.login()">登录</a>
                </li>
            </ul>
        </nav>
    </div>

    

    <!--done-->
<div id="home">
<div id="header">
	<div id="blogTitle">
        <a id="lnkBlogLogo" href="https://www.cnblogs.com/TheHypocrite/"><img id="blogLogo" src="/skins/custom/images/logo.gif" alt="返回主页" /></a>		
		
<!--done-->
<h1><a id="Header1_HeaderTitle" class="headermaintitle HeaderMainTitle" href="https://www.cnblogs.com/TheHypocrite">TheHypocrite</a>
</h1>
<h2>Keep on learning.</h2>




		
	</div><!--end: blogTitle 博客的标题和副标题 -->
	<div id="navigator">
		
<ul id="navList">
<li><a id="blog_nav_sitehome" class="menu" href="https://www.cnblogs.com/">
博客园</a>
</li>
<li>
<a id="blog_nav_myhome" class="menu" href="https://www.cnblogs.com/TheHypocrite/">
首页</a>
</li>
<li>

<a id="blog_nav_newpost" class="menu" href="https://i.cnblogs.com/EditPosts.aspx?opt=1">
新随笔</a>
</li>
<li>
<a id="blog_nav_contact" class="menu" href="https://msg.cnblogs.com/send/TheHypocrite">
联系</a></li>
<li>
<a id="blog_nav_rss" class="menu" href="javascript:void(0)" data-rss="https://www.cnblogs.com/TheHypocrite/rss/">
订阅</a>
<!--<partial name="./Shared/_XmlLink.cshtml" model="Model" /></li>--></li>
<li>
<a id="blog_nav_admin" class="menu" href="https://i.cnblogs.com/">
管理</a>
</li>
</ul>


		<div class="blogStats">
			<div id="blog_stats_place_holder"><script>loadBlogStats();</script></div>
		</div><!--end: blogStats -->
	</div><!--end: navigator 博客导航栏 -->
</div><!--end: header 头部 -->
<div id="main">
	<div id="mainContent">
	<div class="forFlow">
		





		
<div class="day" role="article" aria-describedby="postlist_description_18774023">
    <div class="dayTitle">
        <a href="https://www.cnblogs.com/TheHypocrite/p/archive/2025/03/15">2025年3月15日
</a>
    </div>

        <div class="postTitle" role="heading" aria-level="2">
            <a class="postTitle2 vertical-middle" href="https://www.cnblogs.com/TheHypocrite/p/18774023">
    <span>
        前端Vue问题解决：&quot;ERROR ResizeObserver loop completed with undelivered notifications.&quot;
    </span>
    

</a>
        </div>
        <div class="postCon">

<div class="c_b_p_desc" id="postlist_description_18774023">
摘要：        
临时解决办法 在vue.config.js文件中添加以下代码： 点击查看代码 devServer: { client: { overlay: { runtimeErrors: (error) =&gt; { const ignoreErrors = [ &quot;ResizeObserver loop limit    <a href="https://www.cnblogs.com/TheHypocrite/p/18774023" class="c_b_p_desc_readmore">阅读全文</a>
</div>

</div>
        <div class="clear"></div>
        <div class="postDesc">posted @ 2025-03-15 18:27
TheHypocrite
<span data-post-id="18774023" class="post-view-count">阅读(38)</span> 
<span data-post-id="18774023" class="post-comment-count">评论(0)</span> 
<span data-post-id="18774023" class="post-digg-count">推荐(0)</span> 
<a href="https://i.cnblogs.com/EditPosts.aspx?postid=18774023" rel="nofollow">
    编辑
</a>
</div>
        <div class="clear"></div>
</div>


		
<div class="day" role="article" aria-describedby="postlist_description_18412737">
    <div class="dayTitle">
        <a href="https://www.cnblogs.com/TheHypocrite/p/archive/2024/09/13">2024年9月13日
</a>
    </div>

        <div class="postTitle" role="heading" aria-level="2">
            <a class="postTitle2 vertical-middle" href="https://www.cnblogs.com/TheHypocrite/p/18412737">
    <span>
        RSA
    </span>
    

</a>
        </div>
        <div class="postCon">

<div class="c_b_p_desc" id="postlist_description_18412737">
摘要：        
RSA 实例步骤 选质数 \[ P=3,Q=11 \] 计算模数 \[ N = P \times Q =33 \] 欧拉函数 \[r=\phi(N)=(P-1)(Q-1)=2\times10=20 \] 计算公钥E \[1 &lt;E&lt; \phi(N)=r=20 \\Let\ \ E=3 \] 计算私钥D    <a href="https://www.cnblogs.com/TheHypocrite/p/18412737" class="c_b_p_desc_readmore">阅读全文</a>
</div>

</div>
        <div class="clear"></div>
        <div class="postDesc">posted @ 2024-09-13 19:18
TheHypocrite
<span data-post-id="18412737" class="post-view-count">阅读(41)</span> 
<span data-post-id="18412737" class="post-comment-count">评论(0)</span> 
<span data-post-id="18412737" class="post-digg-count">推荐(0)</span> 
<a href="https://i.cnblogs.com/EditPosts.aspx?postid=18412737" rel="nofollow">
    编辑
</a>
</div>
        <div class="clear"></div>
</div>


		
<div class="day" role="article" aria-describedby="postlist_description_18292993">
    <div class="dayTitle">
        <a href="https://www.cnblogs.com/TheHypocrite/p/archive/2024/07/10">2024年7月10日
</a>
    </div>

        <div class="postTitle" role="heading" aria-level="2">
            <a class="postTitle2 vertical-middle" href="https://www.cnblogs.com/TheHypocrite/p/18292993">
    <span>
        PySimpleGUI笔记
    </span>
    

</a>
        </div>
        <div class="postCon">

<div class="c_b_p_desc" id="postlist_description_18292993">
摘要：        
本博客详细介绍了 PySimpleGUI 的基本用法和高级功能，并通过实际案例演示了如何使用 PySimpleGUI 开发图形用户界面 (GUI) 应用。主要内容包括：

基本用法：介绍了 PySimpleGUI 的基本组件和窗口创建方法，通过简单示例展示了如何创建和管理窗口。
事件处理：讲解了如何处理用户事件，包括按钮点击、文本输入等，通过示例代码说明了事件处理机制。
高级功能：展示了如何使用 PySimpleGUI 的高级功能，如动态更新窗口内容、实现复杂的 GUI 逻辑等。
实战案例：提供了一个 PDF 文件合并工具的完整示例，详细讲解了从文件选择到 PDF 合并的整个过程。
本博客还包含了丰富的代码注释和详细的步骤说明，适合希望快速掌握 PySimpleGUI 的读者。同时提供了官方文档和其他学习资源的链接，方便读者进一步深入学习。    <a href="https://www.cnblogs.com/TheHypocrite/p/18292993" class="c_b_p_desc_readmore">阅读全文</a>
</div>

</div>
        <div class="clear"></div>
        <div class="postDesc">posted @ 2024-07-10 00:26
TheHypocrite
<span data-post-id="18292993" class="post-view-count">阅读(839)</span> 
<span data-post-id="18292993" class="post-comment-count">评论(0)</span> 
<span data-post-id="18292993" class="post-digg-count">推荐(1)</span> 
<a href="https://i.cnblogs.com/EditPosts.aspx?postid=18292993" rel="nofollow">
    编辑
</a>
</div>
        <div class="clear"></div>
</div>


		
<div class="day" role="article" aria-describedby="postlist_description_18286788">
    <div class="dayTitle">
        <a href="https://www.cnblogs.com/TheHypocrite/p/archive/2024/07/05">2024年7月5日
</a>
    </div>

        <div class="postTitle" role="heading" aria-level="2">
            <a class="postTitle2 vertical-middle" href="https://www.cnblogs.com/TheHypocrite/p/18286788">
    <span>
        二、MySQL基础操作
    </span>
    

</a>
        </div>
        <div class="postCon">

<div class="c_b_p_desc" id="postlist_description_18286788">
摘要：        
二、MySQL基础操作 1. 数据库操作 显示所有数据库 SHOW DATABASES; 创建数据库 CREATE DATABASE MyDb; 删除数据库 -- 直接删除库，不检查是否存在 DROP DATABASE MyDb; -- 或检查是否存在 DROP DATABASE [IF EXIST    <a href="https://www.cnblogs.com/TheHypocrite/p/18286788" class="c_b_p_desc_readmore">阅读全文</a>
</div>

</div>
        <div class="clear"></div>
        <div class="postDesc">posted @ 2024-07-05 23:54
TheHypocrite
<span data-post-id="18286788" class="post-view-count">阅读(83)</span> 
<span data-post-id="18286788" class="post-comment-count">评论(1)</span> 
<span data-post-id="18286788" class="post-digg-count">推荐(0)</span> 
<a href="https://i.cnblogs.com/EditPosts.aspx?postid=18286788" rel="nofollow">
    编辑
</a>
</div>
        <div class="clear"></div>
</div>



<div class="topicListFooter">
    <div id="nav_next_page">
        
    

    </div>    
</div>






<script>
    updatePostStats(
        $(".post-view-count").map(function () { return this.dataset.postId }).get(),
        function(id, count) { $(".post-view-count[data-post-id=" + id + "]").text("阅读(" + count + ")") },
        function(id, count) { $(".post-comment-count[data-post-id=" + id + "]").text("评论(" + count + ")") },
        function(id, count) { $(".post-digg-count[data-post-id=" + id + "]").text("推荐(" + count + ")") });
</script>
	</div><!--end: forFlow -->
	</div><!--end: mainContent 主体内容容器-->
	<div id="sideBar">
		<div id="sideBarMain">
			<div id="sidebar_news" class="newsItem">
    <h3 class="catListTitle">公告</h3>
<div id="blog-news">    
    <div id="sidebar_news_content">
    </div>
</div>
<script>loadBlogNews();</script>

 
</div>
<div id="sidebar_c3"></div>
			<div id="blog-calendar" style="display:none"></div><script>loadBlogDefaultCalendar();</script>			
			<div id="leftcontentcontainer">
				<div id="blog-sidecolumn"></div>
                    <script>loadBlogSideColumn();</script>
			</div>			
		</div><!--end: sideBarMain -->
	</div><!--end: sideBar 侧边栏容器 -->
	<div class="clear"></div>
	</div><!--end: main -->
	<div class="clear"></div>
	<div id="footer">
		<!--done-->
Copyright &copy; 2025 TheHypocrite
<br /><span id="poweredby">Powered by .NET 9.0 on Kubernetes</span>



	</div><!--end: footer -->
</div><!--end: home 自定义的最大容器 -->



    <div id="page_end_html">
        <!-- 雪花 -->
<script type="text/javascript">  
 (function($){  
     $.fn.snow = function(options){  
     var $flake = $('<div id="snowbox" />').css({'position': 'absolute','z-index':'9999', 'top': '-50px', 'cursor': 'pointer'}).html('❄'),  
     documentHeight  = $(document).height(),  
     documentWidth   = $(document).width(),  
     defaults = {  
         minSize     : 10,  
         maxSize     : 20,  
         newOn       : 1000,  
         flakeColor  : "#FFFFFF" /* 此处可以定义雪花颜色，若要白色可以改为#FFFFFF */  
     },  
     options = $.extend({}, defaults, options);  
     var interval= setInterval( function(){  
     var startPositionLeft = Math.random() * documentWidth - 100,  
     startOpacity = 0.5 + Math.random(),  
     sizeFlake = options.minSize + Math.random() * options.maxSize,  
     endPositionTop = documentHeight - 200,  
     endPositionLeft = startPositionLeft - 500 + Math.random() * 500,  
     durationFall = documentHeight * 10 + Math.random() * 5000;  
     $flake.clone().appendTo('body').css({  
         left: startPositionLeft,  
         opacity: startOpacity,  
         'font-size': sizeFlake,  
         color: options.flakeColor  
     }).animate({  
         top: endPositionTop,  
         left: endPositionLeft,  
         opacity: 0.2  
     },durationFall,'linear',function(){  
         $(this).remove()  
     });  
     }, options.newOn);  
     };  
 })(jQuery);  
 $(function(){  
     $.fn.snow({   
         minSize: 5, /* 定义雪花最小尺寸 */  
         maxSize: 80,/* 定义雪花最大尺寸 */  
         newOn: 500  /* 定义密集程度，数字越小越密集 */  
     });  
 });  

 !function(){
 
 function n(n,e,t){
 
 return n.getAttribute(e)||t
 
 }
 
 function e(n){
 
 return document.getElementsByTagName(n)
 
 }
 
 function t(){
 
 var t=e("script"),o=t.length,i=t[o-1];
 
 return{
 
 l:o,z:n(i,"zIndex",-1),o:n(i,"opacity",.5),c:n(i,"color","0,0,0"),n:n(i,"count",99)
 
 }
 
 }
 
 function o(){
 
 a=m.width=window.innerWidth||document.documentElement.clientWidth||document.body.clientWidth,
 
 c=m.height=window.innerHeight||document.documentElement.clientHeight||document.body.clientHeight
 
 }
 
 function i(){
 
 r.clearRect(0,0,a,c);
 
 var n,e,t,o,m,l;
 
 s.forEach(function(i,x){
 
 for(i.x+=i.xa,i.y+=i.ya,i.xa*=i.x>a||i.x<0?-1:1,i.ya*=i.y>c||i.y<0?-1:1,r.fillRect(i.x-.5,i.y-.5,1,1),e=x+1;e<u.length;e++)n=u[e],
 
 null!==n.x&&null!==n.y&&(o=i.x-n.x,m=i.y-n.y,
 
 l=o*o+m*m,l<n.max&&(n===y&&l>=n.max/2&&(i.x-=.03*o,i.y-=.03*m),
 
 t=(n.max-l)/n.max,r.beginPath(),r.lineWidth=t/2,r.strokeStyle="rgba("+d.c+","+(t+.2)+")",r.moveTo(i.x,i.y),r.lineTo(n.x,n.y),r.stroke()))
 
 }),

 x(i)
 
 }
 
 var a,c,u,m=document.createElement("canvas"),
 
 d=t(),l="c_n"+d.l,r=m.getContext("2d-disabled"),
x=window.requestAnimationFrame||window.webkitRequestAnimationFrame||window.mozRequestAnimationFrame||window.oRequestAnimationFrame||window.msRequestAnimationFrame||
 
 function(n){

 window.setTimeout(n,1e3/45)
 
 },
 
 w=Math.random,y={x:null,y:null,max:2e4};m.id=l,m.style.cssText="position:fixed;top:0;left:0;z-index:"+d.z+";opacity:"+d.o,e("body")[0].appendChild(m),o(),window.onresize=o,
 
 window.onmousemove=function(n){
 
 n=n||window.event,y.x=n.clientX,y.y=n.clientY
 
 },
 
 window.onmouseout=function(){
 
 y.x=null,y.y=null
 
 };
 
 for(var s=[],f=0;d.n>f;f++){
 
 var h=w()*a,g=w()*c,v=2*w()-1,p=2*w()-1;s.push({x:h,y:g,xa:v,ya:p,max:6e3})
 
 }
 
 u=s.concat([y]),
 
 setTimeout(function(){i()},100)
 
 }();
 /*鼠标拖尾*/
</script>
<script src="https://blog-static.cnblogs.com/files/blogs/801535/mouse.min.js"></script>
<script type="text/javascript">
    $.shuicheMouse({
        type:11, 
        color:"rgba(187,67,128,1)"
    })
</script>
<script type="text/javascript">
/* 鼠标特效 */
var a_idx = 0;
jQuery(document).ready(function($) {
    $("body").click(function(e) {
        var a = new Array("keep on learning!");
        var $i = $("<span></span>").text(a[a_idx]);
        a_idx = (a_idx + 1) % a.length;
        var x = e.pageX,
        y = e.pageY;
        $i.css({
            "z-index": 1000,
            "top": y - 20,
            "left": x,
            "position": "absolute",
            "font-weight": "bold",
            "color": "rgb("+~~(255*Math.random())+","+~~(255*Math.random())+","+~~(255*Math.random())+")"
        });
        $("body").append($i);
        $i.animate({
            "top": y - 180,
            "opacity": 0
        },
        1500,
        function() {
            $i.remove();
        });
    });
});
</script>

    </div>

    <input type="hidden" id="antiforgery_token" value="CfDJ8KL9kPW-LSFBi_9YdTzcC0-g9xqmztrzxbMb87Wn9E7a9LE7wjwFjRYbEc2Sw3jOU-6XYcgbV6GXIX_4X2ASxy2uI1tvrI6EHlhxKSi-TiD1c-EVypZ3UDmVf8-KtnsXyLWA6Qchbg5jUASNPtGjddI" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-M95P3TTWJZ"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-M95P3TTWJZ');
</script>
<script defer src="https://hm.baidu.com/hm.js?866c9be12d4a814454792b1fd0fed295"></script>
</body>
</html>
